.modalImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

.div {
  position: absolute;
  inset: 40px;
  background: transparent;
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
}
